.card {
    --card-color: var(--gray);
    --card-font-size: calc(var(--medium) / 16 * 1rem);
    --card-font-weight: 700;

    font-size: calc(32 / 24 * 1rem);
    position: relative;
}

.card__title {
    font-size: inherit;
    font-weight: 400;

    &,
    > a {
        color: var(--card-color);
    }

    > a {
        text-decoration: none;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

